*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #E3EBED;
}
.buttons button{
    font-size: 25px;
    width: 250px;
    height: 70px;
    background-color: #435D5A;
    border: none;
    color: white;
}
header{
    border: 1px solid black;
    display:flex;
    align-items: center;
}

nav{
    width: 300px;
    height:740px;
    background-color: #435D5A;
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
}
.profile{
    font-size:25px;
    color:white;
    background-color: #405654; 
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    width:300px;
    height:225px;
    border-top-right-radius:50px;
}
.button{
    display:flex; 
    background-color: #435D5A;
}
.blank{
    background-color:green;
    width:150px;
    height:0px;
}
.buttons{
    margin-top:50px;
    background-color: white;
    display:flex;
    align-items:end;
    flex-direction: column;
    width:150px;
}
.selection{
    margin-bottom: 50px;
    margin-left: -50px;
}

.selection select{
    width: 350px;
    height: 50px;
    font-size: 30px;
    border-radius: 30px;
    color: white;
    text-align: center;
    background-color: #405654;
}

article{
    margin-left: 400px;
    margin-top: -700px;
}
.scrolldable-table{
    height: 520px;
    width: 1100px;
    overflow-y: auto;
}

table button{
    background-color: #4A90A4;
    color: white;
}
table{
    border-collapse: collapse;
    font-size: 20px;
}
table td{
    width: 300px;
    border: none;
}

table th{
    background-color: #4A90A4;
    color: white;
    position: sticky;
    top: 0px;
}

table th, 
table td{
    padding: 12px 15px;
}

table tbody tr{
    border-bottom: 1px solid #cccbcb;
}

table tbody tr td button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

